<app-start-resume [openCart]="openCart" *ngIf="user"></app-start-resume>
<app-login [user]="user"></app-login>
<app-cart-menu></app-cart-menu>




















<!-- <div> -->
    <!-- <nav>     -->
        <!-- <a routerLink="/home" routerLinkActive="active">Home</a> -->
        <!-- <a routerLink="/products" routerLinkActive="active">Products</a> -->
        <!-- <a routerLink="/employees" routerLinkActive="active">Employees</a> -->
        <!-- <a routerLink= "/categories" routerLinkActive="active">Categories</a> -->
        <!-- <a routerLink="/about" routerLinkActive="active">About</a> -->
        <!-- <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a> -->
        <!-- <a *ngIf="isAdmin" routerLink="/admin" routerLinkActive="active">Admin</a> -->
    <!-- </nav> -->
<!-- </div> -->